# Grafana Datasources Auto-Provisioning
# File: k8s/monitoring/grafana/datasources.yaml
# Auto-configure datasources on Grafana startup

apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
  labels:
    app: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    
    deleteDatasources:
      - name: Prometheus
        orgId: 1
      - name: Loki
        orgId: 1
    
    datasources:
      # Prometheus - Primary Metrics Store
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.monitoring.svc.cluster.local:9090
        isDefault: true
        editable: true
        uid: prometheus
        jsonData:
          timeInterval: "15s"
          httpMethod: POST
          manageAlerts: true
          prometheusType: Prometheus
          prometheusVersion: "2.45.0"

      # Loki - Log Aggregation
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc.cluster.local:3100
        editable: true
        uid: loki
        jsonData:
          maxLines: 1000
          derivedFields:
            - name: TraceID
              matcherRegex: "trace_id=(\\w+)"
              url: ""
              datasourceUid: ""
